// Specific CSS for your home-page

html, body, .container {
  height: 100%;
}
body {
  background-image: url("mirror.jpg");
  background-color: $ltblue;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: rgb(1, 1, 20);
}
