.container {
  justify-content: center;
  align-items: center;
}

#thelife {
  background-color: $ltblue;
  height: 75%;
  width: 75%;
  align-items: center;
}

#lifetitle {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  justify-content: center;

}

#lifebio {
  justify-content: center;
  font-size: small;
}
