#all_lives {
  align-items: flex-start;
  margin-top: 50px;
}

.row {
  justify-content: center;
  gap: 20px;
}

.card {
  width: 18rem;
  height: max-content;
  border-radius: 10px;
  .card-img-top {
    width: 95%;
    height: 50%;
    justify-content: center;
    margin-top: 5px;
    border-radius: 10px;
  }
}

.btn {
  background-color: $ltblue;
}

a {
  text-decoration: none;
  color: white;
}

#searchBar {
  position: relative;
  width: 50%;
  left: 25%;
  top: 50px;
}
