#all_lives {
  align-items: flex-start;
  margin-top: 100px;
}

.row {
  justify-content: center;
  gap: 20px;
}

.card {
  width: 18rem;
  height: max-content;
  border-radius: 10px;
  .card-img-top {
    width: 95%;
    height: 50%;
    justify-content: center;
    margin-top: 5px;
    border-radius: 10px;
  }
}

.btn {
  background-color: $ltblue;
}

a {
  text-decoration: none;
  color: white;
}

#searchBar {
  position: relative;
  width: 30%;
  left: 62%;
  top: 50px;
}

button[type=submit] {
  background-color: white;
  border-color: $ltblue;
  color: $riblue;
  line-height: 30px;
}

.card-title{
  font-size:19px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bolder;
}

img {
  border-radius: 10px;
  padding: 5px;
}
