<div class="container">
  <% if policy(@booking).create? %>
    <div class="col">
      <div class="row">
        <p>Life I am booking:</p>
        <p><%= @life.title %></p>
      </div>
    </div>
    <%= link_to "Confirm booking", new_booking_path %>
  <% end %>
</div>
