<div class="content">
  <div class="container">
    <h5 class="card-title"><%= @booking.life.title %></h5>
    <div class="card">
       <div class="card-body">
        <p class="card-text"><%= @booking.life.bio %></p>
      </div>
    </div>
  </div>
</div>
