<body class="homepage">
  <div class="container">
  <h1>
    <span>Change your life</span>
    <div class="message">
      <div class="word1">Get a new one.</div>
      <div class="word2">Give it away.</div>
      <div class="word3">Take a break.</div>
    </div>
  </h1>
  </div>
  <div class="container" id="lifecards">

    <div class="card" style="width: 18rem;">
      <%= image_tag "ceolady.jpg", alt:"Card image cap", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">CEO of Tech Company in Melbourne</h5>
        <p class="card-text">In desperate need of a holiday! Lounge around in my home and answer some emails.</p>
        <a href="#" class="btn btn-primary">Check it out</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <%= image_tag "doggy.jpg", alt:"Card image cap", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Dog Lover and Cafe Owner</h5>
        <p class="card-text">Watch my dog in my 1bd apartment, make sure Cafe Paradiso is running smoothly</p>
        <a href="#" class="btn btn-primary">Check it out</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <%= image_tag "epicgamer.jpg", alt:"Card image cap", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Epic Gamer</h5>
        <p class="card-text">If you're good at League of Legends, you'll love streaming on my twitch account and playing for my esports team</p>
        <a href="#" class="btn btn-primary">Check it out</a>
      </div>
    </div>
  </div>

</body>
