<body>
  <div class="container">
  <%# <h1>Change your life... Get another.</h1> %>
  <h1>
    <span>Change your life</span>
    <div class="message">
      <div class="word1">Get a new one.</div>
      <div class="word2">Give it away.</div>
      <div class="word3">Take a break.</div>
    </div>
  </h1>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <a class="navbar-rentident" href="#">RentIdent</a>

      <!-- Toggler and Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Get a Life</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="container" id="lifecards">

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">CEO of Tech Company in Melbourne</h5>
        <p class="card-text">In desperate need of a holiday! Lounge around in my home and answer some emails.</p>
        <a href="#" class="btn btn-primary">Check it out</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Dog Lover and Cafe Owner</h5>
        <p class="card-text">Watch my dog in my 1bd apartment, make sure Cafe Paradiso is running smoothly</p>
        <a href="#" class="btn btn-primary">Check it out</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" url="" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Epic Gamer</h5>
        <p class="card-text">If you're good at League of Legends, you'll love streaming on my twitch account and playing for my esports team</p>
        <a href="#" class="btn btn-primary">Check it out</a>
      </div>
    </div>

  </div>
</body>
