$riblue : rgb(69, 98, 226);
$ltblue : rgb(151, 151, 255);

.navbar {
  justify-content: space-between;
  background: $riblue;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .form-inline {
  display: flex;
}

.navbar .navbar-rentident {
  margin-left: 20px;
  text-decoration: none;
  color: whitesmoke;
  font-family: $body-font;
}

.navbar .navbar-nav {
  margin-right: 20px;
}

.navbar .navbar-brand {
  // width: 25px;
}
